body{
    background-image: url("img/fondo.jpg");
}
form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.form input {
    width: 90%;
    height: 30px;
    margin: 0.5rem;

  }
  
  .form .button {
    padding: 0.5em 1em;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
  }
  .button:hover{
background-color:rgb(85, 170, 216);
transition: background-color 1s;


  }